@media only screen and (max-device-width : 730px) {
    body{
        max-width: auto;
        margin: 0;
        box-shadow: none;
    }    
    .header{
        flex-direction: column;
        height: 480px;
        &__photo{
            background-color: white;
            width: 100%;
            max-height: 400px;
            &__thomas{
                width: 250px;
                border: $color-secondary solid 5px;
                margin-left: auto;
                margin-right: auto;
                margin-top: $margin-top;
                margin-bottom: $margin-bottom/2;
            }
        }
        &__titre{
            font-size: 2.5em;
            color: $color-secondary;
            width: 100%;
            padding: $padding-bottom*3 0;
            text-align: center;
            line-height: 30px;
            margin-bottom: 1.1em;
            &__job{
                font-size: .5em;
                color: $color-primary;
                line-height: 25px;
            }
        }
    }
    .main-container{
        flex-direction: column;
    }
    .aside{
        width: 90%;
        margin: auto;
        background-color: white;
        margin-top: $margin-top;
        margin-bottom: $margin-bottom;
        &__paragraph{
            margin-top: $margin-top;
            margin-bottom: $margin-bottom;
            margin-left: $margin-left;
            margin-right: $margin-right;
        }
        &__h3{
            border-radius: 10px;
            margin-bottom: $margin-bottom/2;
        }
    }
    .contact__paragraphes{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .icones-loisir{
        padding-bottom: 0;
    }
    .section-holder{
        width: 100%;
        padding-left: 0;
    }
    .section{
        margin-top: $margin-top;
        &__h2{
            padding-left: $padding-left;
            font-size: 1.6em;
        }
        &__container-reco{
            margin-right: auto;
            margin-left: auto;
            margin-bottom: $margin-bottom;
        }
        &__description{
            max-width: 600px;
        }
    }
}
p{
    font-size: 1em;
}

@media only screen and (min-device-width : 731px) and (max-device-width : 1023px) {
    p{
        font-size: 1em;
    }
    .aside__paragraph{
        margin-left: $margin-left;
        margin-right: $margin-right;
    }
    .section__container-reco{
        margin-right: $margin-right;
    }
    .section__description{
            max-width: 550px;
    }
}

@media only screen and (min-device-width : 1024px){
    body{
        margin: auto;
        box-shadow: $color-primary 5px 5px 5px;
    }
    .header{
        margin-top: 10%;
        margin-bottom: auto;
    }
    p{
        font-size: 0.8em;
    }
}
