

.header{
    display: flex;
    flex-direction: row;
    height: 280px;
    margin-top: 0;
    &__photo{
        width: 33%;
        background-color: $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        &__thomas{
            border-radius: 50%;
            width: 60%;
            margin: auto;
        }
    }
    &__titre{
        width: 67%;
        line-height: .8em;
        margin: auto 0;
        padding-left: $padding-left*4;
        &__span{
            color: $color-primary;
        }
        &__job{
            font-size: 30px;
            color: $color-primary;
            text-transform: none;
            position: relative; 
            &::after{
                position: absolute;
                display: block;
                background: none;
                width: 80px;
                content: '';
                border: 1px solid $color-secondary;
                bottom: -3px;
                left: 0;
            }
        }
    }
}
.main-container{
    display: flex;
}
.aside{
    width: 33%;
    min-width: 160px;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__h3{
        height: 45px;
    }
    &__paragraph{
        margin-top: $margin-top;
        margin-left: $margin-left*2;
        margin-right: $margin-right*2;
        text-align: justify;
    }
    &__link{
        text-decoration: underline;
        &:hover{
            color: white;
        }
    }
}
.icones-loisir{
    list-style-type: none;
    display: flex;
    justify-content: center;
    color: $color-primary;
    margin-top: $margin-top;
    padding-bottom: $padding-bottom*2;
    &__motorcycle{
        @include div-pictos-loisirs;
        margin-right: $margin-right;
        &::before{
            @include pictos-loisirs;
            content: "\f21c";
            top: 13px;
            left: 11px;
        }
    }   
    &__volleyball{
        @include div-pictos-loisirs;
        &::before{
            @include pictos-loisirs; 
            content: "\f45f";
            top: 13px;
            left: 14px;
        }
    }
    &__cinema{
        @include div-pictos-loisirs;
        margin-left: $margin-left;
        &::before{
            @include pictos-loisirs;
            content: "\f008";
            top: 13px;
            left: 14px;
        }
    }
}

.section-holder{
    width: 67%;
    margin-top: $margin-top;
    padding-left: $padding-left*2;
}
.section{
    margin-left: $margin-left;
    margin-right: $margin-right;
    &__h2{
        position: relative;
        margin-bottom: $margin-bottom;
        &::after{
            content: '';
            position: absolute;
            border: solid 1px $color-secondary;
            left: 0px;
            bottom: -15px;
            width: 95%;
        }
        &::before{
            @include pictos-sections;
            margin-right: 30px;
        }
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $margin-bottom*2;
        margin-top: $margin-top*2;
    }
    &__date{
        min-width: 14%;
        margin-right: $margin-right*3;
        margin-left: $margin-left*2;
        margin-bottom: $margin-bottom;
        position: relative;
        &::before{
            @include pictos-sections;
            position: absolute;
            left: -30px;
            top: 6px;
        }
    }       
    &__description{
        min-width: 60%;
        max-width: 380px;
        margin-left: $margin-left*2;
    }
    &__job{
        line-height: 2.2em;
    }
    &__container-reco{
        margin-right: $margin-right*4;
        &__nom{
            text-transform: uppercase;
            line-height: 2em;
        }
    }
}
.formation__h2{
    &::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f19d";
    }
}
.experience__h2{
    &::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f0b1";
    }
}
.recommandation__h2{
    &::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f303";
    }
}
.date-actuelle{
    &::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f192";
    }
}
.date-passee{
    &::before{
    font-family: "Font Awesome 5 Free"; 
    font-weight: 400; 
    font-size: .7rem;
    content: "\f111";
    }
}