.header{
    display: flex;
    flex-direction: row;
    &__photo{
        width:33%;
        min-width: 160px;
        min-height: 160px;
        padding:5%;
        background-color: $color-secondary;
        &__thomas{
            border-radius: 100%;
        }
    }
    &__titre{
        width: 67%;
        line-height: 60px;
        margin: auto 0;
        padding-left: $padding-left*7;
        &__span{
            color: $color-primary;
        }
        &__job{
            font-size: 30px;
            color: $color-primary;
            text-transform: none;
            position: relative; 
            &::after{
                position: absolute;
                display: block;
                background: none;
                width: 80px;
                content: '';
                border: 1px solid $color-secondary;
                bottom: -3px;
                left: 0;
            }
        }
    }
}
.main-container{
    display: flex;
}
.aside{
    width: 33%;
    min-width: 160px;
    background-color: $color-secondary;
    &__h3{
        height: 45px;
    }
    &__paragraph{
        margin: $margin-bottom $margin-left;
        text-align: justify;
    }
    &__link{
        text-decoration: underline;
        &:hover{
            color: white;
        }
    }
}
.section-holder{
    width: 67%;
    padding:0 $padding-right;
}
.section{
    margin-left: $margin-left*3.5;
    &__h2{
        padding-left: $padding-left*6;
        position: relative;
        margin-bottom: $margin-bottom;
        &::after{
            content: '';
            position: absolute;
            border: solid 1px $color-secondary;
            left: 0px;
            bottom: -15px;
            width: 95%;
        }
    }
    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: $margin-bottom*2;
        margin-top: $margin-top*2;
    }
    &__date{
        min-width: 14%;
        margin-right: $margin-right*5;
        margin-bottom: $margin-bottom;
    }       
    &__description{
        min-width: 60%;
        max-width: 400px;
    }
    &__job{
        line-height: 2.2em;
    }
    &__container-reco{
        margin-right: $margin-right*4;
        margin-bottom: $margin-bottom;
        &__nom{
            text-transform: uppercase;
            line-height: 2em;
        }
    }
}